<div class="container mt-4">
  <h2 class="mb-4">Students</h2>

  <div *ngIf="loading" class="alert alert-info">Loading students...</div>
  <div *ngIf="error" class="alert alert-danger">Error: {{ error }}</div>

  <button (click)="goToCreate()" class="btn btn-primary mb-3">Create Student</button>

  <div *ngIf="!loading && !error && students.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Neptun Code</th>
          <th>Specialization</th>
          <th>Internship</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.neptuncode }}</td>
          <td>{{ student.specialization }}</td>
          <td>{{ student.internshipId? "yes" : "no" }}</td>
          <td>
            <button (click)="editStudent(student.neptuncode)" class="btn btn-sm btn-warning me-2">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!loading && !error && students.length === 0" class="alert alert-warning">
    No students found.
  </div>
</div>
