<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand text-center" routerLink="profile">Welcome <br> <strong>{{ currentUser }}</strong></a>
    <div class="collapse-horizontal navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="authService.isStudent()">
          <a class="nav-link" routerLink="/my-internship">My Internship</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link" routerLink="/users/list">List users</a>
          <a class="nav-link" routerLink="/users/create">Create user</a>
        </li>
        <li class="nav-item" *ngIf="authService.isCoordinator()">
          <a class="nav-link" routerLink="/students/list">List students</a>
          <a class="nav-link" routerLink="/students/create">Create student</a>
        </li>
        <li class="nav-item" *ngIf="authService.isCoordinator()">
          <a class="nav-link" routerLink="/companies/list">List companies</a>
          <a class="nav-link" routerLink="/companies/create">Create company</a>
        </li>
        <li class="nav-item" *ngIf="authService.isCoordinator()">
          <a class="nav-link" routerLink="/internships/selection">Filter internships</a>
          <a class="nav-link" routerLink="/internships/list/all/all">List all internships</a>
          <a class="nav-link" routerLink="/internships/create">Create internship</a>
        </li>
        <li class="nav-item" *ngIf="authService.isCoordinator()">
          <a class="nav-link" routerLink="/excel/import">Import from Excel</a>
          <a class="nav-link" routerLink="/excel/export">Export to Excel</a>
        </li>
      </ul>
      <button class="btn btn-outline-danger" (click)="authService.logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
